# ETL on Youtube Trending Data

## Data Source:
This dataset is available on Kaggle.com and is a daily record of the top trending
YouTube videos.
https://www.kaggle.com/datasnaek/youtube-new#CA_category_id.json
This dataset includes several months of data on daily trending YouTube videos. Data is
included for the US, GB, DE, CA, and FR regions (USA, Great Britain, Germany,
Canada, and France, respectively), with up to 200 listed trending videos per day. Now
includes data from RU, MX, KR, JP and IN regions (Russia, Mexico, South Korea,
Japan and India respectively) over the same time period. Each region’s data is in a
separate csv file. Data includes the video title, channel title, publish time, tags, views,
likes and dislikes, description, and comment count. The data also includes a
category_id field, which varies between regions. To retrieve the categories for a specific
video, find it in the associated JSON. One such file is included for each of the regions in
the dataset.

## Proposed Transformation:
• Combine data of different regions (different csv) into one single table, including only
the required regions. Clean-up the table to include the required columns. Use the
associated JSON to map the category for each region into the combined table. Any
other data clean-up and preparation as required.

## Proposed Load:
MYSQL to be used to load the extracted and transformed data. Since the dataset would
be derived by stitching together data for different regions, in case a need arises in future
to accommodate different types/structure of data for different regions, MYSQL will allow
that.

# Reading data from the source

In [1]:
import pandas as pd

In [2]:
df_CAc = pd.read_csv(r'C:\Users\BALA\OneDrive\Desktop\GUVI\Youtube ETL Project\CAvideos\CAvideos.csv')

In [3]:
df_CAj = pd.read_json(r'C:\Users\BALA\OneDrive\Desktop\GUVI\Youtube ETL Project\CAvideos\CA_category_id.json')

In [4]:
df_DEc = pd.read_csv(r'C:\Users\BALA\OneDrive\Desktop\GUVI\Youtube ETL Project\DEvideos\DEvideos.csv')

In [5]:
df_DEj = pd.read_json(r'C:\Users\BALA\OneDrive\Desktop\GUVI\Youtube ETL Project\DEvideos\DE_category_id.json')

In [6]:
df_FRc = pd.read_csv(r'C:\Users\BALA\OneDrive\Desktop\GUVI\Youtube ETL Project\FRvideos\FRvideos.csv')

In [7]:
df_FRj = pd.read_json(r'C:\Users\BALA\OneDrive\Desktop\GUVI\Youtube ETL Project\FRvideos\FR_category_id.json')

In [8]:
df_GBc = pd.read_csv(r'C:\Users\BALA\OneDrive\Desktop\GUVI\Youtube ETL Project\GBvideos\GBvideos.csv')

In [9]:
df_GBj = pd.read_json(r'C:\Users\BALA\OneDrive\Desktop\GUVI\Youtube ETL Project\GBvideos\GB_category_id.json')

In [10]:
df_INc = pd.read_csv(r'C:\Users\BALA\OneDrive\Desktop\GUVI\Youtube ETL Project\INvideos\INvideos.csv')

In [11]:
df_INj = pd.read_json(r'C:\Users\BALA\OneDrive\Desktop\GUVI\Youtube ETL Project\INvideos\IN_category_id.json')

In [12]:
df_JPc = pd.read_csv(r'C:\Users\BALA\OneDrive\Desktop\GUVI\Youtube ETL Project\JPvideos\JPvideos.csv')

In [13]:
df_JPj = pd.read_json(r'C:\Users\BALA\OneDrive\Desktop\GUVI\Youtube ETL Project\JPvideos\JP_category_id.json')

In [14]:
df_KRc = pd.read_csv(r'C:\Users\BALA\OneDrive\Desktop\GUVI\Youtube ETL Project\KRvideos\KRvideos.csv')

In [15]:
df_KRj = pd.read_json(r'C:\Users\BALA\OneDrive\Desktop\GUVI\Youtube ETL Project\KRvideos\KR_category_id.json')

In [16]:
df_MXc = pd.read_csv(r'C:\Users\BALA\OneDrive\Desktop\GUVI\Youtube ETL Project\MXvideos\MXvideos.csv')

In [17]:
df_MXj = pd.read_json(r'C:\Users\BALA\OneDrive\Desktop\GUVI\Youtube ETL Project\MXvideos\MX_category_id.json')

In [18]:
df_RUc = pd.read_csv(r'C:\Users\BALA\OneDrive\Desktop\GUVI\Youtube ETL Project\RUvideos\RUvideos.csv')

In [19]:
df_RUj = pd.read_json(r'C:\Users\BALA\OneDrive\Desktop\GUVI\Youtube ETL Project\RUvideos\RU_category_id.json')

In [20]:
df_USc = pd.read_csv(r'C:\Users\BALA\OneDrive\Desktop\GUVI\Youtube ETL Project\USvideos\USvideos.csv')

In [21]:
df_USj = pd.read_json(r'C:\Users\BALA\OneDrive\Desktop\GUVI\Youtube ETL Project\USvideos\US_category_id.json')

In [22]:
df_CAc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40881 entries, 0 to 40880
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   video_id                40881 non-null  object
 1   trending_date           40881 non-null  object
 2   title                   40881 non-null  object
 3   channel_title           40881 non-null  object
 4   category_id             40881 non-null  int64
 5   publish_time            40881 non-null  object
 6   tags                    40881 non-null  object
 7   views                   40881 non-null  int64
 8   likes                   40881 non-null  int64
 9   dislikes                40881 non-null  int64
 10  comment_count           40881 non-null  int64
 11  thumbnail_link          40881 non-null  object
 12  comments_disabled       40881 non-null  bool
 13  ratings_disabled        40881 non-null  bool
 14  video_error_or_removed  40881 non-null  bool
 15  description             39585 non-null  object
dtypes: bool(3), int64(5), object(8)
memory usage: 4.2+ MB

In [23]:
df_CAc.head(1)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787425,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. Beyoncé i...

In [24]:
df_CAj.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   kind    31 non-null     object
 1   etag    31 non-null     object
 2   items   31 non-null     object
dtypes: object(3)
memory usage: 872.0+ bytes

In [25]:
df_CAj.head(1)

,kind,etag,items
0,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."

In [26]:
df_CAj['items'][0]

{'kind': 'youtube#videoCategory',
 'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/Xy1mB4_yLrHy_BmKmPBggty2mZQ"',
 'id': '1',
 'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
  'title': 'Film & Animation',
  'assignable': True}}

## This json file is a nested json file. So we need to normalize the nested json.

In [27]:
df_CAj = pd.json_normalize(df_CAj['items'])

In [28]:
df_CAj.head(1)

,kind,etag,id,snippet.channelId,snippet.title,snippet.assignable
0,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/Xy1mB4_yLrHy_BmKm...",1,UCBR8-60-B28hp2BmDPdntcQ,Film & Animation,True

In [29]:
df_CAj.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   kind                31 non-null     object
 1   etag                31 non-null     object
 2   id                  31 non-null     object
 3   snippet.channelId   31 non-null     object
 4   snippet.title       31 non-null     object
 5   snippet.assignable  31 non-null     bool
dtypes: bool(1), object(5)
memory usage: 1.4+ KB

## id column in json file is in 'object' datatype. But category column in csv file is in 'int' datatype. We nee to change the datatype in order to merge these 2 dataframes.

In [30]:
df_CAj['id'] = df_CAj['id'].astype('int64')

In [31]:
df_CAj.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   kind                31 non-null     object
 1   etag                31 non-null     object
 2   id                  31 non-null     int64
 3   snippet.channelId   31 non-null     object
 4   snippet.title       31 non-null     object
 5   snippet.assignable  31 non-null     bool
dtypes: bool(1), int64(1), object(4)
memory usage: 1.4+ KB

## To map the id from the json with the csv we need to merge the dataframes based on the id columns of both the dataframes.

In [32]:
df_CA = pd.merge(df_CAc, df_CAj, left_on='category_id', right_on='id')

In [33]:
df_CA.head(1)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,...,comments_disabled,ratings_disabled,video_error_or_removed,description,kind,etag,id,snippet.channelId,snippet.title,snippet.assignable
0,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787425,43420,...,False,False,False,Eminem's new track Walk on Water ft. Beyoncé i...,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/nqRIq97-xe5XRZTxb...",10,UCBR8-60-B28hp2BmDPdntcQ,Music,True

In [34]:
df_CA.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40807 entries, 0 to 40806
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   video_id                40807 non-null  object
 1   trending_date           40807 non-null  object
 2   title                   40807 non-null  object
 3   channel_title           40807 non-null  object
 4   category_id             40807 non-null  int64
 5   publish_time            40807 non-null  object
 6   tags                    40807 non-null  object
 7   views                   40807 non-null  int64
 8   likes                   40807 non-null  int64
 9   dislikes                40807 non-null  int64
 10  comment_count           40807 non-null  int64
 11  thumbnail_link          40807 non-null  object
 12  comments_disabled       40807 non-null  bool
 13  ratings_disabled        40807 non-null  bool
 14  video_error_or_removed  40807 non-null  bool
 15  description             39515 non-null  object
 16  kind                    40807 non-null  object
 17  etag                    40807 non-null  object
 18  id                      40807 non-null  int64
 19  snippet.channelId       40807 non-null  object
 20  snippet.title           40807 non-null  object
 21  snippet.assignable      40807 non-null  bool
dtypes: bool(4), int64(6), object(12)
memory usage: 6.1+ MB

## Repeating the same process for 9 other region files

In [35]:
df_DEj = pd.json_normalize(df_DEj['items'])

In [36]:
df_DEj['id'] = df_DEj['id'].astype('int64')

In [37]:
df_DE = pd.merge(df_DEc,df_DEj,left_on = 'category_id',right_on = 'id')

In [38]:
df_FRj = pd.json_normalize(df_FRj['items'])

In [39]:
df_FRj['id'] = df_FRj['id'].astype('int64')

In [40]:
df_FR = pd.merge(df_FRc,df_FRj,left_on = 'category_id',right_on = 'id')

In [41]:
df_GBj = pd.json_normalize(df_GBj['items'])

In [42]:
df_GBj['id'] = df_GBj['id'].astype('int64')

In [43]:
df_GB = pd.merge(df_GBc,df_GBj,left_on='category_id',right_on='id')

In [44]:
df_INj = pd.json_normalize(df_INj['items'])

In [45]:
df_INj['id'] = df_INj['id'].astype('int64')

In [46]:
df_IN = pd.merge(df_INc,df_INj,left_on = 'category_id',right_on = 'id')

In [47]:
df_JPj = pd.json_normalize(df_JPj['items'])

In [48]:
df_JPj['id'] = df_JPj['id'].astype('int64')

In [49]:
df_JP = pd.merge(df_JPc,df_JPj,left_on = 'category_id',right_on = 'id')

In [50]:
df_KRj = pd.json_normalize(df_KRj['items'])

In [51]:
df_KRj['id'] = df_KRj['id'].astype('int64')

In [52]:
df_KR = pd.merge(df_KRc,df_KRj,left_on = 'category_id',right_on = 'id')

In [53]:
df_MXj = pd.json_normalize(df_MXj['items'])

In [54]:
df_MXj['id'] = df_MXj['id'].astype('int64')

In [55]:
df_MX = pd.merge(df_MXc,df_MXj,left_on = 'category_id',right_on = 'id')

In [56]:
df_RUj = pd.json_normalize(df_RUj['items'])

In [57]:
df_RUj['id'] = df_RUj['id'].astype('int64')

In [58]:
df_RU = pd.merge(df_RUc,df_RUj,left_on = 'category_id',right_on = 'id')

In [59]:
df_USj = pd.json_normalize(df_USj['items'])

In [60]:
df_USj['id'] = df_USj['id'].astype('int64')

In [61]:
df_US = pd.merge(df_USc,df_USj,left_on = 'category_id',right_on = 'id')

## Compiling all the dataframes into one dataframe

In [62]:
df_YT = pd.concat([df_CA,df_DE,df_FR,df_GB,df_IN,df_JP,df_KR,df_MX,df_RU,df_US],ignore_index=True)

In [63]:
df_YT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 373204 entries, 0 to 373203
Data columns (total 22 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   video_id                373204 non-null  object
 1   trending_date           373204 non-null  object
 2   title                   373204 non-null  object
 3   channel_title           373204 non-null  object
 4   category_id             373204 non-null  int64
 5   publish_time            373204 non-null  object
 6   tags                    373204 non-null  object
 7   views                   373204 non-null  int64
 8   likes                   373204 non-null  int64
 9   dislikes                373204 non-null  int64
 10  comment_count           373204 non-null  int64
 11  thumbnail_link          373204 non-null  object
 12  comments_disabled       373204 non-null  bool
 13  ratings_disabled        373204 non-null  bool
 14  video_error_or_removed  373204 non-null  bool
 15  description             354021 non-null  object
 16  kind                    373204 non-null  object
 17  etag                    373204 non-null  object
 18  id                      373204 non-null  int64
 19  snippet.channelId       373204 non-null  object
 20  snippet.title           373204 non-null  object
 21  snippet.assignable      373204 non-null  bool
dtypes: bool(4), int64(6), object(12)
memory usage: 52.7+ MB

In [64]:
df_YT.head(1)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,...,comments_disabled,ratings_disabled,video_error_or_removed,description,kind,etag,id,snippet.channelId,snippet.title,snippet.assignable
0,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787425,43420,...,False,False,False,Eminem's new track Walk on Water ft. Beyoncé i...,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/nqRIq97-xe5XRZTxb...",10,UCBR8-60-B28hp2BmDPdntcQ,Music,True

## If you note, there are category id column and id column with same data. So removing one of them. And the kind column also doesn't required. Removing that too.

In [65]:
df_YT = df_YT.drop(['kind', 'id'], axis=1)

In [66]:
df_YT.head(1)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,etag,snippet.channelId,snippet.title,snippet.assignable
0,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787425,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. Beyoncé i...,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/nqRIq97-xe5XRZTxb...",UCBR8-60-B28hp2BmDPdntcQ,Music,True

In [67]:
df_YT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 373204 entries, 0 to 373203
Data columns (total 20 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   video_id                373204 non-null  object
 1   trending_date           373204 non-null  object
 2   title                   373204 non-null  object
 3   channel_title           373204 non-null  object
 4   category_id             373204 non-null  int64
 5   publish_time            373204 non-null  object
 6   tags                    373204 non-null  object
 7   views                   373204 non-null  int64
 8   likes                   373204 non-null  int64
 9   dislikes                373204 non-null  int64
 10  comment_count           373204 non-null  int64
 11  thumbnail_link          373204 non-null  object
 12  comments_disabled       373204 non-null  bool
 13  ratings_disabled        373204 non-null  bool
 14  video_error_or_removed  373204 non-null  bool
 15  description             354021 non-null  object
 16  etag                    373204 non-null  object
 17  snippet.channelId       373204 non-null  object
 18  snippet.title           373204 non-null  object
 19  snippet.assignable      373204 non-null  bool
dtypes: bool(4), int64(5), object(11)
memory usage: 47.0+ MB

## Loading the cleaned dataframe into MySQL

In [68]:
import mysql.connector
from sqlalchemy import create_engine
import pymysql

In [69]:
engine = create_engine('mysql+pymysql://root:1234@localhost/guvi')

In [70]:
df_YT.to_sql('youtube',engine,if_exists='replace',index = False)
print('success')

success

In [71]:
pd.read_sql_query('DESC youtube', engine)

                     Field        Type Null Key Default Extra
0                 video_id        text  YES        None
1            trending_date        text  YES        None
2                    title        text  YES        None
3            channel_title        text  YES        None
4              category_id      bigint  YES        None
5             publish_time        text  YES        None
6                     tags        text  YES        None
7                    views      bigint  YES        None
8                    likes      bigint  YES        None
9                 dislikes      bigint  YES        None
10           comment_count      bigint  YES        None
11          thumbnail_link        text  YES        None
12       comments_disabled  tinyint(1)  YES        None
13        ratings_disabled  tinyint(1)  YES        None
14  video_error_or_removed  tinyint(1)  YES        None
15             description        text  YES        None
16                    etag        text  YES        None
17       snippet.channelId        text  YES        None
18           snippet.title        text  YES        None
19      snippet.assignable  tinyint(1)  YES        None

In [72]:
pd.read_sql_query('SELECT COUNT(*) from youtube', engine)

   COUNT(*)
0    373204

In [73]:
pd.read_sql_query('SELECT video_id,title,channel_title,views,likes,comment_count FROM youtube LIMIT 10', engine)

,video_id,title,channel_title,views,likes,comment_count
0,n1WpP7iowLc,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,17158579,787425,125882
1,2Vv-BfVoq4g,Ed Sheeran - Perfect (Official Music Video),Ed Sheeran,33523622,1634130,85067
2,H1KBHFXm2Bg,21 Savage - Bank Account (Official Music Video),21 Savage,5068229,263596,28976
3,7MxiQ4v0EnE,Daang ( Full Video ) | Mankirt Aulakh | Sukh S...,Speed Records,5718766,127477,8063
4,j67FgNEvyh8,Telefoon || Babbu Maan || Promo || Full Song 1...,Hey Yolo,178447,4339,876
5,c64I9HNpiOY,Padmavati : Ek Dil Ek Jaan Video Song | Deepik...,T-Series,10588371,132738,10847
6,Nc0ZCtZdgAk,KOKE (Full Video) | SUNANDA SHARMA | Latest Pu...,Amar Audio,628340,37121,1667
7,9t9u_yPEidY,"Jennifer Lopez - Amor, Amor, Amor (Official Vi...",JenniferLopezVEVO,9548677,190085,11473
8,MbyP-w4uOgk,NAV - Wanted You feat. Lil Uzi Vert (Official ...,NAV,1064943,38449,2335
9,66Y44OxufVM,RUM (Regular Use Medicine) By Meet Hundal || D...,Bamb Beats,731639,13794,376